@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@500;700&display=swap");
@import "tailwindcss";

@theme {
  --breakpoint-sm: 600px;
  --breakpoint-md: 800px;
  --breakpoint-large: 1000px;
  --breakpoint-desktop: 1200px;

  /* Core colors */
  --color-background: #ffffff;
  --color-foreground: #0f172a;
  --color-border: #e5e7eb;
  --color-muted: oklch(0.97 0 0);
  --color-muted-foreground: oklch(0.556 0 0);

  /* Semantic colors */
  --color-destructive: oklch(0.704 0.191 22.216);
  --color-destructive-foreground: oklch(0.704 0.191 22.216);
  --color-success: oklch(0.696 0.17 162.48);
  --color-success-foreground: oklch(0.765 0.177 163.223);
  --color-warning: oklch(0.769 0.188 70.08);
  --color-warning-foreground: oklch(0.828 0.189 84.429);

  /* Primary colors */
  --color-primaryColor-50: #e9effd; /* rgb(233, 239, 253) */
  --color-primaryColor-100: #bbcff9; /* rgb(187, 207, 249) */
  --color-primaryColor-200: #9bb7f6; /* rgb(155, 183, 246) */
  --color-primaryColor-300: #6d96f2; /* rgb(109, 150, 242) */
  --color-primaryColor-400: #5182ef; /* rgb(81, 130, 239) */
  --color-primaryColor-500: #2563eb; /* rgb(37, 99, 235) */
  --color-primaryColor-600: #225ad6; /* rgb(34, 90, 214) */
  --color-primaryColor-700: #1a46a7; /* rgb(26, 70, 167) */
  --color-primaryColor-800: #143681; /* rgb(20, 54, 129) */
  --color-primaryColor-900: #102a63; /* rgb(16, 42, 99) */

  /* custom text Sizes */
  --text-sm: 14px;
  --text-base: 24px;
  --text-headline: 32px;
  --text-title: 40px;

  --text-lg: 1.125rem; /* 18px */
  --text-lg--line-height: calc(1.75 / 1.125);

  --text-xl: 1.25rem; /* 20px */
  --text-xl--line-height: calc(1.75 / 1.25);

  --text-2xl: 1.5rem; /* 24px */
  --text-2xl--line-height: calc(2 / 1.5);

  --text-3xl: 1.875rem; /* 30px */
  --text-3xl--line-height: calc(2.25 / 1.875);

  --shadow-2xs: 0 1px rgb(0 0 0 / 0.03);
  --shadow-xs: 0 1px 2px 0 rgb(0 0 0 / 0.03);
  --shadow-sm: 0 1px 3px 0 rgb(0 0 0 / 0.06), 0 1px 2px -1px rgb(0 0 0 / 0.06);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.08),
    0 2px 4px -2px rgb(0 0 0 / 0.08);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.08),
    0 4px 6px -4px rgb(0 0 0 / 0.08);
  --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.08),
    0 8px 10px -6px rgb(0 0 0 / 0.08);
  --shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.15);
  --shadow-3xl: 0 35px 60px -12px rgb(0 0 0 / 0.25);
  --shadow-4xl: 0 45px 80px -15px rgb(0 0 0 / 0.35);

  --inset-shadow-2xs: inset 0 1px rgb(0 0 0 / 0.03);
  --inset-shadow-xs: inset 0 1px 1px rgb(0 0 0 / 0.03);
  --inset-shadow-sm: inset 0 2px 4px rgb(0 0 0 / 0.03);
  --inset-shadow-md: inset 0 4px 8px rgb(0 0 0 / 0.06);
  --inset-shadow-lg: inset 0 8px 16px rgb(0 0 0 / 0.08);
}

@layer base {
  * {
    @apply border-border outline-border/50;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-foreground;
    font-family: "Poppins", sans-serif;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-corner {
    background: transparent;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-muted/60 rounded-xs;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-muted/80;
  }
  ::-webkit-scrollbar-thumb:active {
    @apply bg-muted;
  }
}

@layer utilities {
  .container {
    @apply mx-auto w-full max-w-7xl;
  }
}
