@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);

  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);

  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
}

:root {
  --background: #ffffff;
  --foreground: #0f172a;
  --border: #e5e7eb;

  --primary-50: #e9effd;
  --primary-100: #bbc9f9;
  --primary-200: #9bb7f6;
  --primary-300: #6d96f2;
  --primary-400: #5182ef;
  --primary-500: #2563eb;
  --primary-600: #225ad6;
  --primary-700: #1a46a7;
  --primary-800: #143681;
  --primary-900: #102a63;

  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);

  --info: var(--primary-400);
  --info-foreground: #ffffff;

  --success: #16a34a;
  --success-foreground: #ffffff;

  --warning: #f59e0b;
  --warning-foreground: #111827;

  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
}

@layer base {
  * {
    @apply border-border outline-border/50;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-foreground;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-corner {
    background: transparent;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-muted/60 rounded-xs;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-muted/80;
  }
  ::-webkit-scrollbar-thumb:active {
    @apply bg-muted;
  }
}

@layer utilities {
  .container {
    @apply mx-auto w-full max-w-7xl;
  }
}
