@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@500;700&display=swap");
@import "tailwindcss";

@theme {
  --breakpoint-sm: 600px;
  --breakpoint-md: 800px;
  --breakpoint-large: 1000px;
  --breakpoint-desktop: 1200px;

  /* Core colors */
  --color-background: #ffffff;
  --color-foreground: #0f172a;
  --color-border: #e5e7eb;
  --color-muted: oklch(0.97 0 0);
  --color-muted-foreground: oklch(0.556 0 0);

  /* Semantic colors */
  --color-destructive: #ef4444;
  --color-destructive-foreground: #dc2626;
  --color-success: #22c55e;
  --color-success-foreground: #16a34a;
  --color-warning: #f59e0b;
  --color-warning-foreground: #d97706;

  /* Primary colors */
  --color-primaryColor-50: #e9effd;
  --color-primaryColor-100: #bbcff9;
  --color-primaryColor-200: #9bb7f6;
  --color-primaryColor-300: #6d96f2;
  --color-primaryColor-400: #5182ef;
  --color-primaryColor-500: #2563eb;
  --color-primaryColor-600: #225ad6;
  --color-primaryColor-700: #1a46a7;
  --color-primaryColor-800: #143681;
  --color-primaryColor-900: #102a63;

  --shadow-2xs: 0 1px rgb(0 0 0 / 0.03);
  --shadow-xs: 0 1px 2px 0 rgb(0 0 0 / 0.03);
  --shadow-sm: 0 1px 3px 0 rgb(0 0 0 / 0.06), 0 1px 2px -1px rgb(0 0 0 / 0.06);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.08),
    0 2px 4px -2px rgb(0 0 0 / 0.08);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.08),
    0 4px 6px -4px rgb(0 0 0 / 0.08);
  --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.08),
    0 8px 10px -6px rgb(0 0 0 / 0.08);
  --shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.15);
  --shadow-3xl: 0 35px 60px -12px rgb(0 0 0 / 0.25);
  --shadow-4xl: 0 45px 80px -15px rgb(0 0 0 / 0.35);

  --inset-shadow-2xs: inset 0 1px rgb(0 0 0 / 0.03);
  --inset-shadow-xs: inset 0 1px 1px rgb(0 0 0 / 0.03);
  --inset-shadow-sm: inset 0 2px 4px rgb(0 0 0 / 0.03);
  --inset-shadow-md: inset 0 4px 8px rgb(0 0 0 / 0.06);
  --inset-shadow-lg: inset 0 8px 16px rgb(0 0 0 / 0.08);
}

@layer base {
  * {
    @apply border-border outline-border/50;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-foreground;
    font-family: "Poppins", sans-serif;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-corner {
    background: transparent;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-muted/60 rounded-xs;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-muted/80;
  }
  ::-webkit-scrollbar-thumb:active {
    @apply bg-muted;
  }
}

@layer utilities {
  .container {
    @apply mx-auto w-full max-w-7xl;
  }
}
